<div class="row mx-3">
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-sm-8 col-md-6 col-lg-4 mt-5" >
        <form class="p-2 rounded-3"(ngSubmit)="submit()" [formGroup]="ResetPasswordForm"  >
            <h3 class="text-center">Reset Password</h3>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['password'].errors }" formControlName="password" >
                <div *ngIf="submitted && ResetPasswordForm.controls['password'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['password'].errors['required']">Password is required</div>
                    <div *ngIf="ResetPasswordForm.controls['password'].errors && !ResetPasswordForm.controls['password'].errors['required']">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && ResetPasswordForm.controls['confirm'].errors }" formControlName="confirm" >
                <div class="form-text text-danger text-center">{{error}}</div>
                <div *ngIf="submitted && ResetPasswordForm.controls['confirm'].errors" class="invalid-feedback">
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors['required']">Password is required</div>
                    <div *ngIf="ResetPasswordForm.controls['confirm'].errors && !ResetPasswordForm.controls['confirm'].errors['required']">Confirm password must be at least 6 characters</div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary ">Reset Password</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
</div>