<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="row">
    <div class="container">
      <a class="navbar-brand" href="/home">HR Hormiga</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" routerLink="/condidat">Condidat Espace</a>
          <a class="nav-link" routerLink="/home">home</a>
          <a class="nav-link"routerLink="/login">login</a>
          <a class="nav-link"routerLink="/liste_condidat">liste de condidat</a>
          <a class="nav-link"routerLink="/dashboard_admin">admin</a>
        </div>
      </div>
    </div>
  </div>
  </nav>