

<table class="table table-striped">
  <thead class="thead-inverse"  >

    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Cin</th>
      <th scope="col">Tel</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
     
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employes">
     
      <td>{{e.nom}}</td>
      <td>{{e.prenom}}</td>
      <td>{{e.cin}}</td>
      <td>{{e.tel}}</td>
      <td>{{e.email}}</td>
      <td>{{e.role}}</td>
      
    
    <td>
      <div class="container">
       <button mat-raised-button class="action-button btn-info" data-bs-toggle="modal" (click)="reset(e)" data-bs-target="#exampleModal3"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button mat-raised-button class="action-button btn-danger" (click)="delete(e.id)" aria-hidden="true" ><i class="fa fa-trash" aria-hidden="true"></i></button>
    <!--   dans delte data-bs-toggle="modal" data-bs-target="#exampleModal2"
      <div class="modal" id="exampleModal2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            êtes-vous sûr de vouloir supprimer
          </div>
          
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
       
            <button type="button"  class="btn btn-danger"  aria-label="Close" data-bs-dismiss="modal" (click)="delete(e.id)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
          
        </div>
      </div>
    </div> -->
    </div>

    
    </td>
  </tr>

   

  </tbody>
</table>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeForm" >
          <div class="form-group">
              <label for="cin">Cin</label>
              <input type="number" id="cin" formControlName="cin" class="form-control">
              </div>
        <div class="form-group">
          <label for="inputName">Employe Nom</label>
          <input type="text" id="nom" formControlName="nom" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputName">Employe prenom</label>
            <input type="text" id="prenom" formControlName="prenom" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control">
              </div>
            <div class="form-group">
              <label >Tel</label>
              <input type="number" id="tel" formControlName="tel" class="form-control">
              </div>
              <div class="form-group">
                  <label >adresse</label>
                  <input type="text" id="adresse" formControlName="adresse" class="form-control">
                  </div>
      
                  <div class="form-group">
                      <label >date_Nais</label>
                      <input type="date"  formControlName="date_nais" class="form-control">
                      </div>
            <div class="form-group">
              <label for="email">salaire</label>
              <input type="number" id="salaire" formControlName="salaire" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" formControlName="password"  class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                  <label for="inputName">Role</label>
                  <input type="text" id="inputrole" formControlName="role" class="form-control">
                  </div>
                  <label for="inputName" class="col-sm-2 col-sm-2 control-label">Genre</label>
                  <div  class="form-check">
                  <input class="form-check-input" type="radio" formControlName="genre" value="h" id="homme">
                  <label class="col-sm-2 col-sm-2 control-label" for="flexRadioDefault1">
                    homme
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio"  formControlName="genre"  value="f" id="femme" checked>
                  <label class="col-sm-2 col-sm-2 control-label" for="flexRadioDefault2">
                   femme
                  </label>
                </div>
                   
        </form>
      </div>
      
      <div class="modal-footer">
        <button
          type="submit"
          
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="mise()"
        >
          Ennregistrer les  modification
        </button>
      </div>
    </div>
  </div>
</div>
